NEXT_PUBLIC_SUPABASE_URL=https://unymdekpfsbalmfasbcu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVueW1kZWtwZnNiYWxtZmFzYmN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEwNTc3MDMsImV4cCI6MjA4NjYzMzcwM30.jx2UBvsihair_OslXHOs-ak2eoIf79SIhTEXXDVq7Po
NEXT_PUBLIC_SITE_URL=http://localhost:3000
